.row
  .large-12.columns
    .row.book-mashup

      - @books.each do |book|
        .row
          .large-4.small-6.columns.book-preview
            = link_to book do
              %img{:src => "http://placehold.it/250x250&text=Thumbnail"}/
          .large-6.small-12.columns.book-preview
            = link_to book.title, book, class: "description"
            by:
            = book.author.full_name
            , Rating:
            = book.average_rating